    <hr>
    <footer style="text-align:center; color:#888; margin-top:2rem;">
      <p>Built by Murshidul Hasan • Inspired by <a href="https://sive.rs/book" target="_blank">Derek Sivers</a></p>
    </footer>
  </div>
</body>
</html>
